<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>projekt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3ADFE7D1F86395800AC1368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3ADFE911F86395A00AC1368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3ADFE9C1F86395A00AC1368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
